<section class="footer">
  <footer class="bg-gray-200 py-2">
    <!-- Copyright Bar -->
    <div class="">
      <div class="justify-center text-gray-600 text-xs">
        © Copyright 2021 -
        <span class="text-green-600"
          ><a href="http://www.omorales.tech/" target="_blank"
            >Oscar Morales</a
          ></span
        >
        | Todos los derechos reservados.
      </div>
      <div class="justify-center text-gray-600 text-xs mt-2">
        <span
          class="text-red-600 bg-red-200 px-1 mx-2 py-1 text-xs rounded font-bold"
          title=""
        >
          Beta
        </span>
        Versión 0.3.0
      </div>
    </div>
  </footer>
</section>
