.DS_Store
gestion-ausencias-js/node_modules
gestion-ausencias-js/dist


# local env files
gestion-ausencias-js/.env.local
gestion-ausencias-js/.env.*.local

# Log files
gestion-ausencias-js/npm-debug.log*
gestion-ausencias-js/yarn-debug.log*
gestion-ausencias-js/yarn-error.log*
gestion-ausencias-js/pnpm-debug.log*

# Editor directories and files
gestion-ausencias-js/.idea
gestion-ausencias-js/.vscode
gestion-ausencias-js/*.suo
gestion-ausencias-js/*.ntvs*
gestion-ausencias-js/*.njsproj
gestion-ausencias-js/*.sln
gestion-ausencias-js/*.sw?
