@import "~vue-tabulator/dist/scss/bootstrap/tabulator_bootstrap4";
.home {
}
.border-t-1 {
  border-top-width: 1px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.sm-full {
}
select.minimal {
  appearance: none;
}
body {
  background-color: #f8f9fe;
  padding-bottom: 80px;
}
.bg-main {
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
