<div
  class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12 login"
>
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5">
      AB-M <span class="text-indigo-500">SYSTEM</span>
    </h1>
    <div class="bg-white shadow-lg w-full rounded-lg divide-y divide-gray-200">
      <div class="linear-progress-material hidden">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
      </div>
      <div class="px-5 py-7">
        <div
          class="bg-red-200 px-6 py-4 mx-2 my-4 rounded-md text-sm flex items-center mx-auto w-full hidden"
          id="errorMsg"
        >
          <svg
            viewBox="0 0 24 24"
            class="text-red-600 w-5 h-5 sm:w-5 sm:h-5 mr-3"
          >
            <path
              fill="currentColor"
              d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z"
            ></path>
          </svg>
          <span class="text-red-800">
            Combinación valores incorrecta.
          </span>
        </div>
        <label class="font-semibold text-sm text-gray-600 pb-1 block left-0"
          >Correo electrónico</label
        >
        <input
          type="email"
          v-model="loginData.email"
          class="border rounded-lg focus:outline-none focus:border-indigo-400 px-3 py-2 mt-1 mb-5 text-sm w-full font-medium"
        />
        <label class="font-semibold text-sm text-gray-600 pb-1 block"
          >Contraseña</label
        >
        <input
          type="password"
          v-model="loginData.password"
          class="border rounded-lg px-3 focus:outline-none focus:border-indigo-400 py-2 mt-1 mb-5 text-sm w-full"
        />
        <button
          type="button"
          v-on:click="login(loginData)"
          class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
        >
          <span class="inline-block mr-2">Iniciar sesión</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-4 h-4 inline-block"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </button>
      </div>
      <div class="py-5">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
            <button
              class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-4 h-4 inline-block align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                />
              </svg>
              <span class="inline-block ml-1">¿Olvidaste la contraseña?</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
